{
    "dorisCredentials": {
        "basic": {
            "username": "",
            "password": ""
        },
        "full": {
            "username": "",
            "password": ""
        }
    }
}
