.doris-plugin-layout .ez5-info_commonPlugin {
	background-color: white;
}

.doris-plugin-layout .cui-label-content {
  position: relative;
  top: 2px;
}

.doris-plugin-layout .create-document-button {
  border-right: 1px solid #ededed !important;
}

.doris-plugin-create-document-modal {
  width: 450px;
}

.doris-plugin-create-document-modal .cui-form-key {
  width: 70px;
  min-width: 70px;
}

.doris-plugin-detail-info-icon {
  position: relative;
  bottom: 1px;
  margin-left: 7px;
}

.doris-plugin-detail-info-icon .cui-button-visual {
  width: 10px;
  min-width: 10px;
}

.doris-plugin-detail-info-icon:active .cui-button-visual {
  box-shadow: none !important;
}

.doris-plugin-detail-info-tooltip {
  padding: 10px;
}

.doris-plugin-detail-info-tooltip div:not(:last-child) {
  margin-bottom: 10px;
}

.doris-plugin-detail-info-tooltip b {
  display: block;
}

.doris-plugin-suggestions-loading-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;
}
