.doris-plugin-layout .ez5-info_commonPlugin {
	background-color: white;
}

.doris-plugin-layout .cui-label-content {
  position: relative;
  top: 2px;
}

.doris-plugin-layout .create-document-button {
  border-right: 1px solid #ededed !important;
}

.doris-plugin-modal-pane input {
  width: 300px;
  max-width: 300px !important;
}

.doris-plugin-detail-info-tooltip {
  padding: 10px;
}

.doris-plugin-detail-info-tooltip div:not(:last-child) {
  margin-bottom: 10px;
}

.doris-plugin-detail-info-tooltip b {
  display: block;
}
